body {
    padding: 20px 15px;
    border: 1px solid #d6d6d6;
    position: relative;
}

.panel-title {
    background: #ededee;
    padding: 10px 15px;
}

.list-group-item {
    border: 1px solid #d6d6d6;
}

.list-group-item-heading {
    margin: 0;
    padding: 15px;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

